# Dependencies
node_modules/
.pnpm-store/

# Next.js build output
.next/
out/

# Environment files
.env*
frontend/.env*
backend/.env*

# Secrets & Credentials
*serviceAccountKey.json
backend/serviceAccountKey.json
